/* Coolors Exported Palette - https://coolors.co/365476-578ab0-304270-7fb2cf-5db5da */

/* CSS HEX */
--yinmn-blue: #365476ff;
--air-force-blue: #578AB0ff;
--marian-blue: #304270ff;
--carolina-blue: #7FB2CFff;
--aero: #5DB5DAff;

/* CSS HSL */
--yinmn-blue: hsla(212, 37%, 34%, 1);
--air-force-blue: hsla(206, 36%, 52%, 1);
--marian-blue: hsla(223, 40%, 31%, 1);
--carolina-blue: hsla(202, 45%, 65%, 1);
--aero: hsla(198, 63%, 61%, 1);

/* SCSS HEX */
$yinmn-blue: #365476ff;
$air-force-blue: #578AB0ff;
$marian-blue: #304270ff;
$carolina-blue: #7FB2CFff;
$aero: #5DB5DAff;

/* SCSS HSL */
$yinmn-blue: hsla(212, 37%, 34%, 1);
$air-force-blue: hsla(206, 36%, 52%, 1);
$marian-blue: hsla(223, 40%, 31%, 1);
$carolina-blue: hsla(202, 45%, 65%, 1);
$aero: hsla(198, 63%, 61%, 1);

/* SCSS RGB */
$yinmn-blue: rgba(54, 84, 118, 1);
$air-force-blue: rgba(87, 138, 176, 1);
$marian-blue: rgba(48, 66, 112, 1);
$carolina-blue: rgba(127, 178, 207, 1);
$aero: rgba(93, 181, 218, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #365476ff, #578AB0ff, #304270ff, #7FB2CFff, #5DB5DAff);
$gradient-right: linear-gradient(90deg, #365476ff, #578AB0ff, #304270ff, #7FB2CFff, #5DB5DAff);
$gradient-bottom: linear-gradient(180deg, #365476ff, #578AB0ff, #304270ff, #7FB2CFff, #5DB5DAff);
$gradient-left: linear-gradient(270deg, #365476ff, #578AB0ff, #304270ff, #7FB2CFff, #5DB5DAff);
$gradient-top-right: linear-gradient(45deg, #365476ff, #578AB0ff, #304270ff, #7FB2CFff, #5DB5DAff);
$gradient-bottom-right: linear-gradient(135deg, #365476ff, #578AB0ff, #304270ff, #7FB2CFff, #5DB5DAff);
$gradient-top-left: linear-gradient(225deg, #365476ff, #578AB0ff, #304270ff, #7FB2CFff, #5DB5DAff);
$gradient-bottom-left: linear-gradient(315deg, #365476ff, #578AB0ff, #304270ff, #7FB2CFff, #5DB5DAff);
$gradient-radial: radial-gradient(#365476ff, #578AB0ff, #304270ff, #7FB2CFff, #5DB5DAff);