/* Coolors Exported Palette - https://coolors.co/b8a49a-13111e-687c94-45bde8-5a7298 */

/* CSS HEX */
--khaki: #b8a49aff;
--raisin-black: #13111eff;
--slate-gray: #687c94ff;
--aero: #45bde8ff;
--glaucous: #5a7298ff;

/* CSS HSL */
--khaki: hsla(20, 17%, 66%, 1);
--raisin-black: hsla(249, 28%, 9%, 1);
--slate-gray: hsla(213, 17%, 49%, 1);
--aero: hsla(196, 78%, 59%, 1);
--glaucous: hsla(217, 26%, 47%, 1);

/* SCSS HEX */
$khaki: #b8a49aff;
$raisin-black: #13111eff;
$slate-gray: #687c94ff;
$aero: #45bde8ff;
$glaucous: #5a7298ff;

/* SCSS HSL */
$khaki: hsla(20, 17%, 66%, 1);
$raisin-black: hsla(249, 28%, 9%, 1);
$slate-gray: hsla(213, 17%, 49%, 1);
$aero: hsla(196, 78%, 59%, 1);
$glaucous: hsla(217, 26%, 47%, 1);

/* SCSS RGB */
$khaki: rgba(184, 164, 154, 1);
$raisin-black: rgba(19, 17, 30, 1);
$slate-gray: rgba(104, 124, 148, 1);
$aero: rgba(69, 189, 232, 1);
$glaucous: rgba(90, 114, 152, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #b8a49aff, #13111eff, #687c94ff, #45bde8ff, #5a7298ff);
$gradient-right: linear-gradient(90deg, #b8a49aff, #13111eff, #687c94ff, #45bde8ff, #5a7298ff);
$gradient-bottom: linear-gradient(180deg, #b8a49aff, #13111eff, #687c94ff, #45bde8ff, #5a7298ff);
$gradient-left: linear-gradient(270deg, #b8a49aff, #13111eff, #687c94ff, #45bde8ff, #5a7298ff);
$gradient-top-right: linear-gradient(45deg, #b8a49aff, #13111eff, #687c94ff, #45bde8ff, #5a7298ff);
$gradient-bottom-right: linear-gradient(135deg, #b8a49aff, #13111eff, #687c94ff, #45bde8ff, #5a7298ff);
$gradient-top-left: linear-gradient(225deg, #b8a49aff, #13111eff, #687c94ff, #45bde8ff, #5a7298ff);
$gradient-bottom-left: linear-gradient(315deg, #b8a49aff, #13111eff, #687c94ff, #45bde8ff, #5a7298ff);
$gradient-radial: radial-gradient(#b8a49aff, #13111eff, #687c94ff, #45bde8ff, #5a7298ff);