

.login{
   background-color: rgb(236, 255, 255);
   min-height:auto !important;; 
}

.newuser{
    background-color: rgb(236, 2545 254);

}


.grey-block {
    min-height: 300px;
    background-color: #cecaca;
}